#Guidebody {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 1px; background:url(/images/default/left_menubg.gif) repeat-y right;
}
#Guide_back {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#Guide_back UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#Guide_back LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; 
}
#Guide_back {
	/*BACKGROUND: url(/images/default/Guide_main.gif) #70c9f6 repeat-y left 50%*/
}
#Guide_top {
	 HEIGHT: 50px; background:url(/images/default/left_topbg.gif) no-repeat;
}
#Guide_toptext {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 0px 0px 0px 60px; COLOR: #0277ba; padding-top:10px;
}
#Guide_main {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#Guide_box {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 4px; PADDING-TOP: 0px
}
.guideexpand {
	PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 12px; CURSOR: pointer; COLOR: #fff; LINE-HEIGHT: 23px;  HEIGHT: 23px; TEXT-ALIGN: left
}
.guidecollapse {
	PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 12px; CURSOR: pointer; COLOR: #fff; LINE-HEIGHT: 25px;  HEIGHT: 25px; TEXT-ALIGN: left
}
.guideexpand {
	BACKGROUND: url(/images/default/guide_expand.gif) no-repeat left center
}
.guidecollapse {
	BACKGROUND: url(/images/default/guide_collapse.gif) no-repeat left center;
}
.guide {
	MARGIN-RIGHT: 11px; BACKGROUND-COLOR: #fff; border:1px solid #9CF; border-top:none; border-bottom:2px solid #9CF; margin-bottom:5px; background:url(/images/default/guide_bg.gif) repeat-y right;
}
.guidesearch {
	MARGIN-RIGHT: 15px; BACKGROUND-COLOR: #fff
}
.guide UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none;
}
.guide LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #fff; text-indent:15px; background:url(/images/style/icon/icon_6.gif) 15px 8px no-repeat; line-height:24px;
}
.guidesearch {
	MARGIN-TOP: 2px; LINE-HEIGHT: 25px; TEXT-ALIGN: center
}
.guide LI {
	LINE-HEIGHT: 140%; 
}
 HTML .guide LI {
	HEIGHT: 20px
}
.guide A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 8px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.guide A:link {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; COLOR: #4579b9; BORDER-BOTTOM: #fff 1px solid
}
.guide A:visited {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; COLOR: #4579b9; BORDER-BOTTOM: #fff 1px solid
}
.guide A:hover {
	BORDER-RIGHT: #e6eff8 1px solid; BORDER-TOP: #e6eff8 1px solid; BORDER-LEFT: #e6eff8 1px solid; COLOR: #c00; BORDER-BOTTOM: #e6eff8 1px solid;  TEXT-DECORATION: none; background: #f2f8fd url(/images/style/icon/icon_8.gif) no-repeat 12px 7px; 
}
#Guide_bottom {
	BACKGROUND: url(/images/default/Guide_bottom.gif) #70c9f6 no-repeat left top; HEIGHT: 13px; display:none;
}
.refresh {
	BACKGROUND: url(/images/default/refresh.gif) no-repeat center center; LEFT: 160px; WIDTH: 15px; CURSOR: pointer; POSITION: absolute; TOP: 29px; HEIGHT: 15px
}
.quickLink LI {
	FLOAT: left; WHITE-SPACE: nowrap
}
.floatingDialog {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; Z-INDEX: 50; LEFT: 200px; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid; POSITION: absolute; TOP: 100px; BACKGROUND-COLOR: #f0f5ff
}
.floatingDialog_handle {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BACKGROUND: url(/images/default/title.gif) #b0d0f3 repeat-x left top; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: middle; CURSOR: move; COLOR: #3666aa; LINE-HEIGHT: 120%; PADDING-TOP: 2px; TEXT-ALIGN: center
}
.floatingDialog_content {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #fde3a6; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.floatingDialogClose {
	FLOAT: right; COLOR: #ffffff; TEXT-DECORATION: none
}
.floatingDialogFontSkin {
	CURSOR: pointer; COLOR: red
}
#AdminTabs {
	CLEAR: both; HEIGHT: 24px
}
#AdminTabs {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#AdminTabs UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#AdminTabs LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#AdminTabs LI {
	FONT-WEIGHT: bold; CURSOR: pointer; MARGIN-RIGHT: 2px
}
#AdminTabs LI {
	FLOAT: left
}
#AdminTabs A {
	FLOAT: left
}
#AdminTabs A {
	DISPLAY: block; PADDING-LEFT: 3px; BACKGROUND: url(/images/default/tableft.gif) no-repeat left top; MARGIN: 0px; FONT: 12px/24px Arial, "ו" ,Helvetica,sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none; min-width: 70px
}
#AdminTabs A SPAN {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 5px; BACKGROUND: url(/images/default/tabright.gif) no-repeat right top; FLOAT: none; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 0px
}
#AdminTabs A:hover {
	BACKGROUND-POSITION: 0% -24px
}
#AdminTabs #current A {
	BACKGROUND-POSITION: 0% -24px
}
#AdminTabs A:hover SPAN {
	BACKGROUND-POSITION: 100% -24px; COLOR: #fff
}
#AdminTabs #current A SPAN {
	BACKGROUND-POSITION: 100% -24px; COLOR: #fff
}
