

<html>
<head></head>
<body>

<p>
  本公司是合法互联网络交易机构，现提醒有意参与本公司所有游戏之客户，应注意其国家或居住地区的相关法律规定，如有疑问，应就相关问题寻求当地法律意见。 
<br/><br/>
  交易声明


  <br/><br/>
    如客户对本游戏有任何问题或疑问时，请立即停止游戏，并实时与你的上线代理联络跟进事件。如客户仍继续参与游戏，即表示了解及接受所发生的问题。本公司有权在这问题上不作出任何解释或跟进，敬请客户留意！ 
  
  <br/>
    请客户确保处于稳定网络环境下进行本游戏，因网络速度问题而出现不稳定情况，客户必须理解及接受。本公司不接受使用无联机网咭参与本游戏的客户投诉。 
  
  <br/>
    所有因网络因素引起的「投注是否成功」问题，最终结果会以本公司的数据库数据，相等于客户投注前台右下方的「记录」功能内，所显示的投注记录为准，用户不得异议。 
  
  <br/>
    倘若发生不可抗拒的灾害或人为的入侵破坏行为，而导致网站故障，数据损坏，数据丢失等情况，会以本网站的最终数据为最后处理数据。为确保各方的真实利益，请各会员保留或打印投注数据，本网站才接受投诉及处理。本公司保留判定任何涉嫌以非正常方式进行投注的客户投注无效之权利
  
  <br/>
    因人为而导致的发牌错误，如﹕
    
      <br/>
        发牌方向或次序错误。 
      
      <br/>
        不正确之显示或结果(此情况会发生于发牌时连发两张或以上的牌)。本公司会按照正常的「牌理」和次序还原至正确的结果，最终结果将按还原至正确的结果计算。 
      
    
  <br/><br/>
  责任声明
  <br/>
  <br/>
    用户在进行游戏前应核实其所在地区进行联机游戏是否符合当地法律。 
  
  <br/>
    为避免任何争议，各用户在参与本网站所有游戏过程中，或在结束参与本网站所提供的游戏前，必须检查会员账户内的数据是否正确。若发现有错误，请实时与所属的代理商联络。客户若不能提供充份的数据，其账户内之一切数据或历史数据，以本公司数据库中的数据为准，用户不得异议。 
  
  <br/>
    本网站只向符合法定年龄的用户提供服务，用户须注意其居住地区的法律年龄限制，在不违反年龄限制之下才可使用本网站服务。 
  
  <br/>
    本公司将不承担任何用户因违反当地相关法律而引起的任何责任。 
  
  <br/>
    任何用户在参与本公司所有游戏而触犯当地法律之任何责任，本公司概不负责。 
  
  <br/>
    用户有义务保障本身的用户名称和密码的隐私安全，并且不应允许任何第三方以任何形式，通过该用户名称和密码使用本网站之所有游戏，否则，一切责任需由该用户全部承担。 
  
  <br/>
    安装、使用及或参与本软件所有游戏之用户，均被视为符合该用户当地之法定年龄，以及该用户完全明白并且同意本协议之内容。 
  
  <br/>
    本网站有权拒绝或不接受任何用户以任何不正当方式登入或参与本网站所有游戏之权利。 
  
  <br/>
    因人为或系统发生不能预测因素所导致的失误，本公司管理层保留最终之决定权。 
  
  <br/>
    不论在任何情况下，本公司之决定权乃最终之决定权。 
  
  <br/>
    若本公司发现会员以团体方式进行交易，如以对碰形式多次下注同一局牌，本公司将保留“取消”该非正常注单或只保留一张注单之权利。 
  
  <br/>
    若本公司发现会员以不公平方式进行游戏，本公司有权将该会员所赢之注单一律取消，而保留其余注单之权利。 
  

</p>
</body>
</html>