<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

<p>
本公司是合法互聯網絡交易機構，現提醒有意參與本公司所有遊戲之客戶，應注意其國家或居住地區的相關法律規定，如有疑問，應就相關問題尋求當地法律意見。
<br/><br/>
交易聲明
<br/>
<br/>
如客戶對本遊戲有任何問題或疑問時，請立即停止遊戲，並實時與你的上線代理聯絡跟進事件。如客戶仍繼續參與遊戲，即表示瞭解及接受所發生的問題。本公司有權在這問題上不作出任何解釋或跟進，敬請客戶留意！
<br/>
請客戶確保處於穩定網絡環境下進行本遊戲，因網絡速度問題而出現不穩定情況，客戶必須理解及接受。本公司不接受使用無聯機網咭參與本遊戲的客戶投訴。
<br/>
所有因網絡因素引起的「投注是否成功」問題，最終結果會以本公司的數據庫數據，相等於客戶投注前台右下方的「記錄」功能內，所顯示的投注記錄為準，用戶不得異議。
<br/>
倘若發生不可抗拒的災害或人為的入侵破壞行為，而導致網站故障，數據損壞，數據丟失等情況，會以本網站的最終數據為最後處理數據。為確保各方的真實利益，請各會員保留或打印投注數據，本網站才接受投訴及處理。本公司保留判定任何涉嫌以非正常方式進行投注的客戶投注無效之權利
<br/>
因人為而導致的發牌錯誤，如﹕
<br/>
發牌方向或次序錯誤。
<br/>
不正確之顯示或結果(此情況會發生於發牌時連發兩張或以上的牌)。本公司會按照正常的「牌理」和次序還原至正確的結果，最終結果將按還原至正確的結果計算。
<br/><br/>
責任聲明
<br/><br/>
用戶在進行遊戲前應核實其所在地區進行聯機遊戲是否符合當地法律。
<br/>
為避免任何爭議，各用戶在參與本網站所有遊戲過程中，或在結束參與本網站所提供的遊戲前，必須檢查會員賬戶內的數據是否正確。若發現有錯誤，請實時與所屬的代理商聯絡。客戶若不能提供充份的數據，其賬戶內之一切數據或歷史數據，以本公司數據庫中的數據為準，用戶不得異議。
<br/>
本網站只向符合法定年齡的用戶提供服務，用戶須注意其居住地區的法律年齡限制，在不違反年齡限制之下才可使用本網站服務。
<br/>
本公司將不承擔任何用戶因違反當地相關法律而引起的任何責任。
<br/>
任何用戶在參與本公司所有遊戲而觸犯當地法律之任何責任，本公司概不負責。
<br/>
用戶有義務保障本身的用戶名稱和密碼的隱私安全，並且不應允許任何第三方以任何形式，通過該用戶名稱和密碼使用本網站之所有遊戲，否則，一切責任需由該用戶全部承擔。
<br/>
安裝、使用及或參與本軟件所有遊戲之用戶，均被視為符合該用戶當地之法定年齡，以及該用戶完全明白並且同意本協議之內容。
<br/>
本網站有權拒絕或不接受任何用戶以任何不正當方式登入或參與本網站所有遊戲之權利。
<br/>
因人為或系統發生不能預測因素所導致的失誤，本公司管理層保留最終之決定權。
<br/>
不論在任何情況下，本公司之決定權乃最終之決定權。
<br/>
若本公司發現會員以團體方式進行交易，如以對碰形式多次下注同一局牌，本公司將保留“取消”該非正常注單或只保留一張注單之權利。
<br/>
若本公司發現會員以不公平方式進行遊戲，本公司有權將該會員所贏之注單一律取消，而保留其餘注單之權利。
</p>
</body>
</html>
