
.tab1{ border:1px solid #a5d1ec; padding:1px;border-collapse:collapse;}
.tab1 td{ text-align:center; line-height:200%; border-left:1px solid #fff; border-right:1px solid #a8d8eb;}
.tab1 thead th{ height:30px; line-height:30px; font-weight:bolder; background:url(/images/default/main/tit.gif) 0 -120px repeat-x;border-bottom:1px solid #a8d8eb;}
.tab1 tbody tr.even{background:#f1f6f8;} 
.tab1 tbody tr.odd{background:#fff;} 
.tab1 tbody tr.selected{ background:url(/images/default/main/tr_select.gif) bottom repeat-x #fff; border-bottom:1px solid #a8d8eb;}
.tab1 tbody tr.selected td{ border-top:1px solid #a8d8eb; padding:3px 0;}
.tab1 tbody tr.over{}
.tab1 tbody .tdCss { background:url(/images/default/main/td_select.gif) bottom repeat-x #fff; color:#006c97;}
.tab1 tfoot td{ background:url(/images/default/tfootbg.gif) center bottom repeat-x; border-top:1px solid #a8d8eb;color:#0068b7;}
.tab1 a:link,.tab1 a:visited{ color:#006c97;}
.tab1 a:hover,.tab1 a:active{ color:#bd010f;}


.tab2{ border:1px solid #ddf0fb; padding:1px;border-collapse:collapse; }
.tab2 td{ text-align:center; line-height:200%;  border:1px solid #ddf0fb;}
.tab2  th{  height:30px; line-height:30px;  font-weight:bolder; background:url(/images/default/main/tit.gif) 0 -120px repeat-x; border:1px solid #ddf0fb; }
.tab2 .even	{ background:#f4fafe;}  
.tab2 .odd{ background:#ffffff;}  
.tab2 .over{background:#fff9e7; color:Red;}
.tab2 .selected	{ background:url(/images/default/main/tr_select.gif) bottom repeat-x #fff;}

.tab2 .tdCss {background:url(/images/default/main/td_select.gif) bottom repeat-x #fff; color:#006c97;} 
.tab2 tfoot td{ background:url(/images/default/tfootbg.gif) center bottom repeat-x; color:#0068b7;}
.tab2 a:link,.tab2 a:visited{ color:#006c97;}
.tab2 a:hover,.tab2 a:active{ color:#bd010f;}


/*表格样式三*/
#tab3{margin:0px auto;font:Georgia 11px;font-size:12px;color:#333333;text-align:center;border-collapse:collapse;/*细线表格代码*/ border:1px solid #ddf0fb;}
#tab3 td{border:1px solid #ddf0fb;/*细线表格线条颜色*/height:22px;}
tr.t1 td {background-color:#fff;}/* 交替行第一行的背景色 */
tr.t2 td {background-color:#f8fcff;}/* 交替行第二行的背景色 */
tr.t3 td {background-color:#c1ebff; color:#0075a9;}/* 鼠标经过时的背景色 */
#tab3 th{font-weight:bold;text-align:center;background:url(/images/default/main/tit.gif) 0 -120px repeat-x;border-bottom:2px solid #a5d1ec;}
#tab3 th{line-height:30px;height:30px;}
#tab3 tfoot tr td{background:url(/images/default/tfootbg.gif) center bottom repeat-x;line-height:26px;height:26px;border-top:2px solid #a5d1ec;}
#tab3 thead{border:1px solid #999;}
#tab3 thead tr td{text-align:center;}
#tab3 a:link,#tab3 a:visited{ color:#006c97;}
#tab3 a:hover,#tab3 a:active{ color:#bd010f;}
/*表格样式四*/
.pickme{border-collapse:collapse;}
.pickme td {font:normal 12px/17px Arial;padding:0px;text-align:center;border:1px solid #ddf0fb;}
.pickme td:hover {cursor:auto;}
.pickme th {font:bold 12px/17px Arial;text-align:left;padding:4px;border-bottom:1px solid #ddf0fb;text-align:center;background:url(/images/default/tab_tit.gif) center top repeat-x;line-height:22px; height:22px;}
.pickme tr.odd {background:#FFF;}
.pickme tr.highlight {background:#e3f7fe;}
.pickme tr.selected {background:#c1ebff;}
.pickme tr.selected td{color:#0075a9;}
.pickme td+td+td {text-align:center;}
.pickme a:link,.pickme a:visited{color:#F60;}
.pickme a:hover,.pickme a:actived{color:#F00;}
.pickme tfoot td{background:url(/images/default/tfootbg.gif) center bottom repeat-x;line-height:26px;height:26px;border-top:2px solid #a5d1ec;}
.pickme{border:1px solid #ddf0fb;}



/*分页*/
#page{text-align:center;float:right;line-height:200%;}
#page a,#page a:visited{ text-decoration:none; width:60px;height:22px;line-height:22px;border:1px black solid;display:block;float:left;margin:0 3px;background:#c9c9c9;
text-decoration:none;}
#page a:hover{background:#c1c1c1;text-decoration:none;}
.grayr {padding:2px;font-size:11px;line-height:12px; height:20px; margin:5px auto 5px; }
.grayr a {padding:2px 6px;_padding:1px 6px;margin:2px;color:#000;text-decoration:none;border:1px #65a0c4 solid;line-height:150%;}
.grayr a:hover {color:#000;border:1px #65a0c4 solid; background-color:#72b8e4;}
.grayr a:active {color:#000;background: #99ffff}
.grayr a.selected{color:#000;border:1px #65a0c4 solid; background:#72b8e4;}
.grayr span.current {padding:3px 6px;font-weight:bold; margin:2px; color: #303030;border:1px #65a0c4 solid;background:#72b8e4;}
.grayr span.disabled {padding:4px 7px;margin:2px;color:#efefef;background: #ccc;border:0px #c1c1c1 solid;}


.pagination{padding: 2px;}
.pagination ul{margin: 0;padding: 0;text-align:center;/*设置分页整体的位置*/font-size: 16px;}
.pagination li{list-style-type: none;display: inline;padding-bottom: 1px;}
.pagination a, .pagination a:visited{padding: 0 5px;border: 1px solid #f39700;text-decoration: none; color: #a96900;}
.pagination a:hover, .pagination a:active{border: 1px solid #eb6100;color: #c00;background-color:#fff;}
.pagination li.currentpage{font-weight: bold;padding: 0 4px;border: 1px solid #c00; margin:0 4px; background-color: #eb6100; color:#fff; text-align:center;}
.pagination li.disablepage{padding: 0px 5px;border: 1px solid #929292; text-align:center; color: #fff; background:#ccc;font-weight: bold;}
.pagination li.nextpage{font-weight: bold;}
* html .pagination li.currentpage, * html .pagination li.disablepage{ margin-right: 5px;padding-right: 0;}

/*分页2*/
.listpage {height:36px;background:url(/images/default/pagelist2.gif) no-repeat ;margin:10px auto 0 auto;line-height:30px;padding:0 10px;color: #797979; width:710px;}
.listpage span{float:right;}
.listpage a {padding:0 3px;margin-right:4px;text-align:center;height:36px;font-size:12px;float:left;}
.listpage strong {font-weight:bold;color:#0075a9;background:url(/images/default/pagelist2.gif) no-repeat -1px -36px;	width:25px;height:36px;text-align:center;float:left;margin-right:4px;}
.listpage  a:hover {color:#0075a9;  text-decoration:underline; border:1px solid #b4e5f3; background:#fafcfe;  height:18px; margin:6px 0; line-height:17px; padding:0px 5px 0 3px; text-decoration:none; }
.r_nav li a.here{ color:#0050A9; text-decoration:none; margin:0 3px 0 0;background:url(/images/default/pagelist2.gif) no-repeat -1px -36px;}


/* *分页3 */
.pages {
	color: #000000;
	cursor: default;
	font-size: 10px;
	font-family: Tahoma, Verdana;
	padding: 3px 0px 3px 0px;
}
.pages .count, .pages .number, .pages .arrow {
	color: #000000;
	font-size: 10px;
	background-color: #F7F7F7;
	border: 1px solid #CCCCCC;
}
/* Page and PageCount Style */
.pages .count {
	font-weight: bold;
	border-right: none;
	padding: 2px 10px 1px 10px;
}
/* Mode 0,1,2 Style (Number) */
.pages .number {
	font-weight: normal;
	padding: 2px 10px 1px 10px;
}
.pages .number a, .pages .number span {
	font-size: 10px;
}
.pages .number span {
	color: #999999;
	margin: 0px 3px 0px 3px;
}
.pages .number a {
	color: #000000;
	text-decoration: none;
}
.pages .number a:hover {
	color: #0000ff;
}
/* Mode 3 Style (Arrow) */
.pages .arrow {
	font-weight: normal;
	padding: 0px 5px 0px 5px;
}
.pages .arrow a, .pages .arrow span {
	font-size: 10px;
	font-family: Webdings;
}
.pages .arrow span {
	color: #999999;
	margin: 0px 5px 0px 5px;
}
.pages .arrow a {
	color: #000000;
	text-decoration: none;
}
.pages .arrow a:hover {
	color: #0000ff;
}
/* Mode 4 Style (Select) */
.pages select, .pages input {
	color: #000000;
	font-size: 10px;
	font-family: Tahoma, Verdana;
}
/* Mode 5 Style (Input) */
.pages .input input.ititle, .pages .input input.itext, .pages .input input.icount {
	color: #666666;
	font-weight: bold;
	background-color: #F7F7F7;
	border: 1px solid #CCCCCC;
}
.pages .input input.ititle {
	width: 70px;
	text-align: right;
	border-right: none;
}
.pages .input input.itext {
	width: 25px;
	color: #000000;
	text-align: right;
	border-left: none;
	border-right: none;
}
.pages .input input.icount {
	width: 35px;
	text-align: left;
	border-left: none;
}
.pages .input input.ibutton {
	height: 17px;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Verdana;
	background-color: #999999;
	border: 1px solid #666666;
	padding: 0px 0px 2px 1px;
	margin-left: 2px;
	cursor: hand;
}


/*分页四*/

.pageWrapper {
	FONT-SIZE: 12px; BACKGROUND: #f6f6f6; WIDTH: 620px;
}
.pgbtn A:link {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; DISPLAY: block; BACKGROUND: url(/images/default/piczw_001.gif); BORDER-LEFT: #ccc 1px solid; COLOR: #686868; LINE-HEIGHT: 20px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.pgbtn A:visited {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; DISPLAY: block; BACKGROUND: url(/images/default/piczw_001.gif); BORDER-LEFT: #ccc 1px solid; COLOR: #686868; LINE-HEIGHT: 20px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.pgbtn A:active {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; DISPLAY: block; BACKGROUND: url(/images/default/piczw_002.gif); BORDER-LEFT: #ccc 1px solid; COLOR: #686868; LINE-HEIGHT: 20px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.pgbtn A:hover {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; DISPLAY: block; BACKGROUND: url(/images/default/piczw_002.gif); BORDER-LEFT: #ccc 1px solid; COLOR: #686868; LINE-HEIGHT: 20px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.pagnum A:link {
	MARGIN: 0px 2px; WIDTH: 26px
}
.pagnum A:visited {
	MARGIN: 0px 2px; WIDTH: 26px
}
.pagnum A:active {
	MARGIN: 0px 2px; WIDTH: 26px
}
.pagnum A:hover {
	MARGIN: 0px 2px; WIDTH: 26px
}
 
.pages_box {
	MARGIN: 5px 0px 5px 0px; FLOAT: left; WIDTH: 460px; TEXT-ALIGN: center
}
.pagetb {
	MARGIN: 0px auto
}
.pregro {
	WIDTH: 60px; PADDING-TOP: 2px; HEIGHT: 20px
}
.nxtgro {
	WIDTH: 60px; PADDING-TOP: 2px; HEIGHT: 20px
}
.pregro {
	DISPLAY: inline; FLOAT: left; MARGIN: 5px 0px 5px 15px;text-align:center;
}
.nxtgro {
	DISPLAY: inline; FLOAT: right; MARGIN: 5px 15px 5px 0px;text-align:center;
}


/*分页5*/

ul#hovershow{
	list-style-type: none;
	margin:5px auto;
	float: left;
	display: inline;
	clear: both;
}
ul#hovershow li{
	float: left;
	display: inline;
	width:20px;
	height: 20px;
	margin: 2px;
			
}
ul#hovershow li a {
 
	display: block;
	width:20px;
	height:20px;
	border:1px #999 solid;
	color:#0984FF;
	background-color:#fff;
	text-decoration: none;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}
 
ul#hovershow li a:hover{
	position: absolute;
	width:40px;
	height: 40px;
	line-height: 40px;
	font-size: 32px;
	z-index:100;
	margin: -10px 0 0 -10px;
}
ul#hovershow li:hover + li a{
	position: absolute;
	width:30px;
	height: 30px;
	line-height: 30px;
	font-size: 24px;
	z-index:99;
	margin: -5px 0 0 -5px;
}

 #loading{ background:url(/images/default/loadingbar.gif ) center top no-repeat; height:60px; width:60px; display:none; padding:10px; border:0px solid #000;}
 
         .tdCss1
       {
    	 background-color:#ffff99;
    	}
    	.tdCss2
       {
    	 background-color:#ffff99;
    	}
