#right_main{ padding:5px; }
.tab_top_m span{padding-left:15px; background:url(/images/icon/Icon045.png) 6px 3px  no-repeat; font-weight:normal;    }
.tab_top_m p{ float:left; padding-left:18px; background:url(/images/default/tb.gif) 0 7px  no-repeat;    line-height:30px; }
.tab_top_m a{ color:#0075a9; }
.tab_top_l{ background:url(/images/default/tab_03.gif) no-repeat;}
.tab_top_m{ background:url(/images/default/tab_05.gif) repeat-x;}
.tab_top_r{ background:url(/images/default/tab_07.gif) no-repeat;}
.tab_foot_l{ background:url(/images/default/tab_18.gif) no-repeat;}
.tab_foot_m{ background:url(/images/default/tab_19.gif) repeat-x;}
.tab_foot_r{ background:url(/images/default/tab_20.gif) no-repeat;}
.tab_middle_l{ background:url(/images/default/tab_12.gif) repeat-y left;}
.tab_middle_r{ background:url(/images/default/tab_15.gif) repeat-y right;}
#main{ min-height:530px;  }
.top_banner{ background:url(/images/default/topbg.gif) repeat-x; border:1px solid #b4e5f3; margin-bottom:5px; padding:5px 5px;}
.top_banner input{vertical-align:middle; margin-left:3px;}
.top_banner a{ text-decoration:none;}
.top_banner select{ height:22px; vertical-align:middle;margin-left:3px;}
.showdiv{ width:100%; }
.showdiv li {  line-height:30px; clear:both;  }
.showdiv li span{ float:left; width:80px; text-align:right;}
.showdiv li p{ float:left; margin:0 3px;}
.wrnning{ padding-left:20px; background:url(/images/icon/Icon218.png) no-repeat 0 1px;}
.select_box { position:absolute;display:none; background:#00a0e9; }
.new_line{background:#00a0e9;}
.new_tr{ margin:1px; padding:18px 0px 0px; border:1px solid #c8eeff; background:url(/images/default/main/new_trbg.gif) repeat-x top #f4fbfd; margin-top:-2px;}
.new_tr ul{ margin:0 auto;  }
.new_tr li span{ width:200px; text-align:right; display:inline-block; }
.new_tr li input{  display:inline-block;}
.new_tr li select{ width:130px; font-size:11px;}
.new_tr li label{  display:inline-block; text-align:left; color:Red; width:200px; }
.new_trfoot{ height:7px; width:100%; clear:both; background:url(/images/default/main/new_trfoot.gif) bottom repeat-x; }

 .users_ma_tit{padding:3px 10px 3px 4px; height:55px; border:1px solid #aed5e3; margin-top:3px;  background:url(/images/Default/tit.gif) repeat-x 0 -180px;  }
 .TbSel { text-align:center;padding:5px 8px; cursor:pointer;margin-left:10px;width:90px;}

.comp_box{ width:98%; margin:10px auto;}
.top_comp{ width:100%; height:40px; clear:both;}
.navColumn li,.navAdditional,.navAdditional div{background:url(/images/default/main/navbg.png) no-repeat;}
.navAdditional div{background-position:left 0px; padding-left:4px;}
.navAdditional{background-position:right 0px;margin-left:8px;float:left;padding-right:4px;}
.navColumn{width:auto;padding:0 5px 0 6px; margin-top:9px;}
.navColumn ul{background:url(/images/default/main/navbg.png) left -33px repeat-x;padding-left:2px;height:32px;}
.navColumn li{float:left;line-height:32px;text-align:center;background-position:right -75px; padding:0 0px; }
.navColumn li.last{background:none;}
.navColumn li.now a:link,.navColumn li.now a:visited{background-position:left -124px;color:#fff;font-size:14px;font-weight:700;}
.navColumn a{position:relative; text-decoration:none; padding-left:15px; display:inline-block;}
.navColumn span{position:relative; display:inline-block; padding-right:18px;}
.navColumn_fouce{position:relative; background:url(/images/default/main/navbg.png) no-repeat left -124px;  }
.navColumn_fouce span{position:relative; background:url(/images/default/main/navbg.png) no-repeat right -156px;  display:inline-block; color:#fff;  }
.navColumn sup{position:absolute;background:url(/images/default/main/heads.png) -120px -445px repeat-x;text-indent:-199em;width:16px;height:19px;top:-6px;overflow:hidden;right:10px;}

.main_comp{ border:2px solid #72bcf0;  min-height:400px;}
.left_comp{ width:200px; float:left;  padding:5px; }
.left_comp .tit{ height:30px; text-align:left; line-height:30px; background:url(/images/icon/Icon303.png) no-repeat #e1eef8 5px 5px; padding-left:25px; }
.right_comp{ width:*; float:right;  overflow-y:scroll; border:0px solid #ccc; overflow-x:hidden; }
