<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

<h3>联络我们</h3>
<br>
<div>
<div>客户联络</div>
<br>
<div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="31" align="center">1</td>
<td align="left" height="35">在线客服</td>
</tr>
<tr>
<td> </td>
<td align="left"><span ng-click="openCS()"><img src="{{resFolder}}images/cs/women_chat_sc.jpg" alt="" width="285" height="86"/></span></td>
</tr>
</tbody>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="31" align="center">2</td>
<td align="left" height="35">热线</td>
</tr>
<tr>
<td> </td>
<td align="left">菲律宾热线: +63-9328796666</td>
</tr>
<tr>
<td> </td>
<td align="left">中国热线: 400-0778038 </td>
</tr>
</tbody>
</table>
<br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="31" align="center">3</td>
<td align="left" height="35">邮箱</td>
</tr>
<tr>
<td> </td>
<td align="left">客户服务: <a href="javaScript:void(0)">158bet.service@gmail.com </a></td>
</tr>
</tbody>
</table>
</div>
</div>
<div>
<br>
</div>
</body>
</html>
