<h3>
  斗牛游戏规则
</h3>
<h4>
  游戏概述
</h4>
<p>
  玩家可押注“庄家”、“闲家”、“庄两对”、“庄3条”、“闲两对”、“闲3条”多个区域。
</p>
<br/>
<p>
  游戏开始后，庄闲家各发牌5张。庄家和闲家从中抽出总和为10的倍数(即10、20、30)之3张牌置于下方，最后剩下的2张牌则置于上方。如下方牌点数总和为10的倍数(即“有牛”)，则可进而以上方2张牌之点数总和进行比对。如下方牌的总和未能为10之倍数(即“无牛”)，就以5张牌中点数最大者进行比对。
</p>
<br>
<p>
  牌面点数：
  <br/>
  1.“斗牛”游戏中，A计为1点，2-9牌则以牌面点数计算，而10、J、Q、K牌，皆算为10点。
  <br/>
  2. 如押注“两对”或“3条”，遇开“4条”或“葫芦”者，则算两者皆胜。
</p>
<br/>
<p>
  牌型类别：
  <br/>
  牛牛＞牛9~牛1>
  无牛
</p>
<br/>
<p>
  牛牛
  <br/>
  若下方3张牌的点数总和为10的倍数(即10、20、30)，进而上方两张牌的点数总和为10的倍数，此类组合即称为“牛牛”。
  <br/>
  例子：下方3张牌点数为K、8、2 (10倍数)，上方2张牌点数为10、Q(10的倍数)，此牌型称为“牛牛”。
</p>
<br/>
<p>
  牛1~牛9
  <br/>
  若下方3张牌的点数总和为10的倍数(即10、20、30)，即可将上面两张牌点数的总和，与对家进行比对。(若相加后点数大于10，就以其中的个位数字计算)点数分为1~9点。若计算后，个位数字为1，即称为“牛1”，个位数字为2，即称为“牛2”。如此类推，当中又以“牛9”为最大。
  <br/>
  例子：下方3张牌点数为Q、4、6(10倍数)，上方两张牌点数为10、2，此牌型称为“牛2”。
</p>
<br/>
<p>
  无牛
  <br/>
  若玩家下方3张牌面无法形成10倍数之组合，便不能以上方两张牌点数的总和进行比对，这种牌型称为“无牛”。
  <br/>
  例子：整副牌为A、A、2、2、3，由于下方3张牌无法形成10倍数之组合，所以此牌型称为“无牛”。
</p>
<br/>
<p>
  如双方牌型一样，则以5张牌中最大者作比对。举例，庄家牌为K、Q、7、2、A，闲家牌为Q、J、10、6、4，此局算“庄”胜。如若双方牌中最大者相同，则以第二最大者比对；如若相同，则以第三最大者作比对，如此类推，直到分出胜负为止。如庄闲双方5张牌点数均相同，则作“和局”。注意，此规则适用于所有牌型。
</p>
<br/>
<p>
  赔率一览：
  <br/>
  胜方：
  <br/>
  组合　　　　　　赔率
  <br/>
  无牛～牛6　　　1 x 0.95
  <br/>
  牛7~牛9　　　1 x 1.90
  <br/>
  牛牛　　　　　　1 x 2.85
</p>
<br/>
<p>
  负方：
  <br/>
  组合　　　　　　赔率
  <br/>
  无牛～牛6　　　1 x 1
  <br/>
  牛7~牛9　　　1 x 2
  <br/>
  牛牛　　　　　　1 x 3
</p>
<br/>
<p>
  下注庄闲：
  <br/>
  牌型　　　　赔率
  <br/>
  庄两对　　　1 x 10
  <br/>
  庄三条　　　1 x 13
  <br/>
  闲两对　　　1 x 10
  <br/>
  闲三条　　　1 x 13
</p>