html #layui_layer_skinmyskinstylecss{display:none; position: absolute; width:1989px;}

body .layer-ext-myskin{
    background-color: black;
    border: 1px solid #d3bd83;
    max-width: 960px;
}
body .layer-ext-myskin .layui-layer-setwin a.layui-layer-close{
    background-image: url('../default/cancel-yellow.png');
    background-position: center center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
    width: 50px;
    height: 50px;
    float: right;
}
body .layer-ext-myskin .layui-layer-title{
    text-align: center;
    color: #ffe39e;
    font-size: 24px;
    background: #000000;
    border: 0;
    line-height: 80px;
    height: 80px;
}
body .layer-ext-myskin .layui-layer-btn{}
body .layer-ext-myskin .layui-layer-btn a{}

body .agreement-class{
    background-color: #333333;
}
body .agreement-class .layui-layer-title{
    background-color: #333333;
    color: #decaa7;
    font-size: 25px;
    width: 100%;
    text-align: center;
    padding: 15px 0 10px 0;
    line-height: 50px;
    height: 75px;
    border: none;
}
body .agreement-class .layui-layer-content{
    color: #999999;
}
body .agreement-class .layui-layer-btn{
    padding-bottom: 20px;
}
body .agreement-class .layui-layer-btn a{
    width: 150px;
    height: 33px;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    border: 1px solid #decaa7;
    background-color: #000000;
    cursor: pointer;
    color: #decaa7;
}
body .agreement-class .layui-layer-btn a:hover{
    background-color:#decaa7;
    color:#333333
}

body .openGame-class{
    background-color: #333333;
}
